@import '../globals.css';

html,body {
    margin: 0;
    padding: 0;
}

.repertoire-container {
  background: var(--bg-color);
  place-content: center;
  height: 100vh;
  display: flex;
  padding-top: 150px;
}

.checkbox-container {
  background: var(--surface);
  width: 620px;
  display: flex;
  justify-content: left;
  height: 1150px;
  margin: 10px;
}

.form-container {
  background: var(--surface);
  width: 360px;
  display: flex;
  height: 1150px;
  justify-content: right;
  margin: 10px;
}

.line-form input[type="checkbox"] {
  cursor: pointer;
}

.line-form label {
  cursor: pointer; /* optional, makes the label clickable too */
}

.name-input {
  display: flex;
  align-items: flex-start;
}

.radio-group-inline {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 1rem;
}

.line-list {
  background: var(--surface);
  display: flex;
  flex-direction: column;
  max-height: 1150px;   /* adjust as needed */
  width: 620px;
  overflow-y: auto;    /* makes it scrollable */
  margin: 10px;
}

.line-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 1px solid var(--bg-color);
  width: 100%;
  box-sizing: border-box;
}

.line-name {
  flex: 1;              /* fills space between checkbox and buttons */
  margin: 0 10px;       /* gap around the name */
}

.line-item button {
  margin-left: 5px;
}

.line-item button:hover {
  backeground-color: var(--bg-color)
}

.form-container {
  background: var(--surface);
  width: 360px;
  display: flex;
  min-height: 1070px;
  justify-content: right;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.line-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.line-form label {
  margin-bottom: 6px;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  display: inline-block;
}

.line-form input[type="text"],
.line-form select,
.line-form textarea {
    height: 40px;
  padding: 8px 10px;
  font-size: 1rem;
  border: 1px solid var(--bg-color);
  border-radius: 4px;
  resize: vertical;
}

.line-form textarea {
  min-height: 500px;
  max-height: 750px;
}

.line-form button {
  margin: 10px;
  margin-top: auto;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: var(--primary);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.line-form button:hover {
  background-color: var(--primary-hover);
}

.quiz-button {
  margin: 30px;
  margin-top: auto;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: var(--primary);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.quiz-button:hover {
  background-color: var(--primary-hover);
}
