@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

html,body {
    margin: 0;
    padding: 0;
}

.App {
    display: grid;
    place-content: center;
    height: 100vh;
    background: var(--bg-color);
    font-family: 'Sofia Sans', sans-serif;
    grid-template-columns: auto 220px;
}

.moves-list {
    display: flex;
    flex-direction: row;
    background: var(--surface);
    color: var(--text-one);
    flex: 1 1;
    flex-wrap: wrap;
    align-content: start;
    overflow: auto;
    font-size: 1.1em;

    /* New additions below */
    border-radius: var(--radius);
    max-height: calc(8*var(--tile-size));
    padding: 1rem;
    box-sizing: border-box;
}

.moves-list div {
    flex-basis: 35%;
    padding-left: 15%;
    text-align: left;
    position: relative;
    padding-bottom: var(--space-xs);
}

.moves-list div[data-number]:nth-child(odd)::before {
    content: attr(data-number);
    position: absolute;
    left: 0;
    opacity: 0.5;
}


.move-controls {
  display: flex;
  gap: var(--space-xs);
  padding-top: var(--space-sm);
  height: calc(0.5*var(--tile-size));
}

.move-controls button {
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: var(--radius);
    flex: 1;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s ease;
}

.move-controls button:hover {
    background-color: var(--primary-hover);
}




















